In [78]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [79]:
train = pd.read_csv('train_data.csv')
test = pd.read_csv('test_data.csv')
print("Training data dimensions =", train.shape)
print("Testing data dimensions =", test.shape)

Training data dimensions = (2000, 5)
Testing data dimensions = (200, 4)

In [80]:
train.head()

        T       V      P     RH        E
0  273.39  420.12  91.84  57.41  1778.12
1  195.26  248.88  92.29  35.21  1824.16
2  377.52  360.42  92.31  27.69  1761.72
3  171.60  244.98  91.61  56.99  1889.64
4  222.56  353.70  92.43  54.25  1806.68

In [81]:
y_train = train.pop('E')

In [82]:
'''fig, ax = plt.subplots(nrows=2, ncols=2, figsize=(7, 7))
sns.distplot(train['T'], color='r', ax=ax[0][0])
sns.distplot(train['V'], color='b', ax=ax[0][1])
sns.distplot(train['P'], color='g', ax=ax[1][0])
sns.distplot(train['RH'], ax=ax[1][1])
plt.tight_layout()'''

"fig, ax = plt.subplots(nrows=2, ncols=2, figsize=(7, 7))\nsns.distplot(train['T'], color='r', ax=ax[0][0])\nsns.distplot(train['V'], color='b', ax=ax[0][1])\nsns.distplot(train['P'], color='g', ax=ax[1][0])\nsns.distplot(train['RH'], ax=ax[1][1])\nplt.tight_layout()"

In [83]:
train_rows = train.shape[0]
data = pd.concat([train, test])

del train
del test

# Preprocessing

In [84]:
#data.drop(['RH'], inplace=True, axis=1)
#data['T'] = data['T'] + 273

In [85]:
data.head()

        T       V      P     RH
0  273.39  420.12  91.84  57.41
1  195.26  248.88  92.29  35.21
2  377.52  360.42  92.31  27.69
3  171.60  244.98  91.61  56.99
4  222.56  353.70  92.43  54.25

In [86]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
for c in data.columns:
    data[c] = sc.fit_transform(data[[c]])

In [87]:
data = data.values
train = data[:train_rows]
test = data[train_rows:]

del data

In [88]:
# define base model
def baseline_model():
	# create model
	model = Sequential()
	model.add(Dense(8, input_dim=4, kernel_initializer='normal', activation='relu'))
	model.add(Dense(1, kernel_initializer='normal'))
	# Compile model
	model.compile(loss='mean_squared_error', optimizer='adam')
	return model

In [89]:
estimator = KerasRegressor(build_fn=baseline_model, epochs=50, batch_size=25, verbose=0)

In [90]:
kfold = KFold(n_splits=10)
results = cross_val_score(estimator, train, y_train, cv=kfold)
print("Results: %.2f (%.2f) MSE" % (results.mean(), results.std()))

Results: -2357947.81 (158256.47) MSE

In [91]:
estimator.fit(train, y_train)
predictions = estimator.predict(test)

In [92]:
predictions = pd.DataFrame({'E': predictions})

In [93]:
predictions

              E
0    208.579071
1    186.741852
2    309.921997
3    322.270874
4    181.368225
5    247.764008
6    353.645630
7    175.867920
8    637.383789
9    234.219574
10   184.968033
11   342.300079
12   488.682831
13   387.423431
14   236.102020
15   178.441132
16   427.198151
17   235.942932
18   290.386627
19   244.837036
20   453.836456
21   277.784698
22   239.979599
23   245.599625
24   182.730377
25   178.271469
26   183.834885
27   174.423737
28   351.534729
29   435.149597
..          ...
170  184.008759
171  180.189194
172  470.823883
173  234.714401
174  508.502472
175  326.422821
176  297.904510
177  232.086884
178  591.856628
179  512.594727
180  433.767151
181  292.242035
182  201.100555
183  177.427185
184  171.066208
185  453.643219
186  349.065826
187  508.999237
188  265.828918
189  181.904053
190  265.920380
191  356.902954
192  399.137054
193  395.003510
194  378.138824
195  406.143097
196  402.936768
197  481.090363
198  360.256256
199  181.177399

[200 rows x 1 columns]

In [94]:
predictions.to_csv('NN_submission.csv', index=False, header=False)